---
import { Icon } from 'astro-icon';
import {
	Button,
	CtaCardSection,
	TextSection,
} from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import FourSection from '../components/widgets/four-section.astro';
import FourSectionExpansion from '../components/widgets/four-section-expansion.astro';
const seo = {
	title: "Aaron's Kit | About",
	description: 'Learn about us and our journey.',
};
---

<Layout {seo}>
	<TextSection>
		<h1 style="text-align:center;">A story about academic publishing</h1>
		<h3 style="text-align:center;">
			Why is the system broken, and how can it be fixed?
		</h3>
	</TextSection>

	<TextSection>
		<span>
			<img
				src="/assets/images/about/PublishingLifecycle.svg"
				alt="Number One"
				loading="lazy"
				class="center-number"
			/>
		</span>
		<br />
		<h3 style="text-align:center;">The Academic Publishing Lifecycle</h3>
		<div id="fs_big">
			<FourSection>
				<div slot="title_icon_1">1</div>
				<div slot="info_1">An Academic does research and finishes a paper</div>
				<ul slot="details_1">
					<li>
						The research is funded by grants and subsidies from universities,
						governments and corporations.
					</li>
					<li>The Academic does not get remunerated for their work.</li>
				</ul>
				<div slot="title_icon_2">2</div>
				<div slot="info_2">
					The Academic submits paper to the Academic Journal
				</div>
				<ul slot="details_2">
					<li>
						The Academic Journals facilitate the editing, reviewing and
						re-submission procedure.
					</li>
					<li>
						The academic editors usually only earn symbolic pay, and most of the
						quality control and fact-checking is done through peer review, which
						is free.
					</li>
				</ul>
				<div slot="title_icon_3">3</div>
				<div slot="info_3">The Paper is sent to a for-profit publisher</div>
				<ul slot="details_3">
					<li>
						Publishers, like Elsevier and Springer Science print and distribute
						the journals.
					</li>
					<li>
						They then charge universities hefty subscription fees to grant
						access to the research papers they publish.
					</li>
					<li>
						Because these publishers do not incur any large costs they are able
						to maintain extraordinarily high profit margins.
					</li>
				</ul>
				<div slot="title_icon_4">4</div>
				<div slot="info_4">
					JSTOR purchases rights to paper after a number of years
				</div>
				<ul slot="details_4">
					<li>
						After a period of time called a moving wall, the publishing houses
						sell the rights to their journal issues to academic search engines
						like JSTOR.
					</li>
					<li>
						To recoup infrastructure, energy and content costs, JSTOR sells
						institutional subscriptions at enormous costs
					</li>
					<li>
						Universities and institutions now have to pay outrageously high
						subscription fees, just to access the research articles that
						arguably were funded and facilitated by them in the first place.
					</li>
				</ul>
			</FourSection>
		</div>
		<div id="fs_small">
			<FourSectionExpansion>
				<div slot="title_icon_1">1</div>
				<div slot="info_1">An Academic does research and finishes a paper</div>
				<ul slot="details_1">
					<li>
						The research is funded by grants and subsidies from universities,
						governments and corporations.
					</li>
					<li>The Academic does not get remunerated for their work.</li>
				</ul>
				<div slot="title_icon_2">2</div>
				<div slot="info_2">
					The Academic submits paper to the Academic Journal
				</div>
				<ul slot="details_2">
					<li>
						The Academic Journals facilitate the editing, reviewing and
						re-submission procedure.
					</li>
					<li>
						The academic editors usually only earn symbolic pay, and most of the
						quality control and fact-checking is done through peer review, which
						is free.
					</li>
				</ul>
				<div slot="title_icon_3">3</div>
				<div slot="info_3">The Paper is sent to a for-profit publisher</div>
				<ul slot="details_3">
					<li>
						Publishers, like Elsevier and Springer Science print and distribute
						the journals.
					</li>
					<li>
						They then charge universities hefty subscription fees to grant
						access to the research papers they publish.
					</li>
					<li>
						Because these publishers do not incur any large costs they are able
						to maintain extraordinarily high profit margins.
					</li>
				</ul>
				<div slot="title_icon_4">4</div>
				<div slot="info_4">
					JSTOR purchases rights to paper after a number of years
				</div>
				<ul slot="details_4">
					<li>
						After a period of time called a moving wall, the publishing houses
						sell the rights to their journal issues to academic search engines
						like JSTOR.
					</li>
					<li>
						To recoup infrastructure, energy and content costs, JSTOR sells
						institutional subscriptions at enormous costs
					</li>
					<li>
						Universities and institutions now have to pay outrageously high
						subscription fees, just to access the research articles that
						arguably were funded and facilitated by them in the first place.
					</li>
				</ul>
			</FourSectionExpansion>
		</div>
	</TextSection>

	<TextSection>
		<img
			src="/assets/images/about/CurrentSystem.svg"
			alt="Number Two"
			loading="lazy"
			class="center-number"
		/>
		<br />
		<h3 style="text-align:center;">
			What is wrong with the current publishing model?
		</h3>

		<h4 style="text-align:center;">The gift of exchange</h4>
		<p style="text-align:justify" class="margin-p">
			Philosophical Transactions of the Royal Society is the world's
			longest-running scientific journal and was established in 1665. The Royal
			Society was steadfast in its not-yet-popular belief that science could
			only move forward through a transparent and open exchange of ideas backed
			by experimental evidence.
		</p>
		<p style="text-align:justify" class="margin-p">
			As a result, for nearly 300 years, a system known as the "gift of
			exchange" was in place, in which almost all scholarly work, with the
			exception of proprietary research, was made freely available to the
			public.
		</p>
		<h4 style="text-align:center;">Commercialising academic research</h4>
		<p style="text-align:justify" class="margin-p">
			Unfortunately, this system is no longer in place today. In the 1960’s and
			1970’s commercial publishers recognised that academic publishing was
			commercially viable and started to selectively purchase top-quality
			journals owned by non-profit academic societies. They saw an opportunity
			to profit from the distribution of publicly financed research. Since the
			demand for academic journals is relatively inelastic, especially in the
			case of university libraries, publishers were able to increase prices
			significantly allowing for astronomical profit margins.
		</p>
		<p style="text-align:justify" class="margin-p">
			With almost 55% of the market share in 2020, four major publishers namely
			Elsevier, Springer, Wiley, and Taylor & Francis dominate the academic
			journal industry. These powerful publishing houses have a history of
			merging, acquiring, and launching new journals to diversify their journal
			portfolios. Modern academic publishing is based on a unique economic model
			in which all of the necessary publishing inputs are provided free of
			charge. As part of a larger scholarly endeavour, academics provide a key
			economic input that is then commercialised by publishers as part of the
			process of dissemination.
		</p>
		<h4 style="text-align:center;">The Serials Crisis</h4>
		<p style="text-align:justify" class="margin-p">
			In the United States, commercial journal publishers hiked prices by 310%
			between 1975 and 1995. Budgets for university libraries normally only
			increase in line with CPI inflation, which in the United States was 183%
			between 1975 and 1995. As a result, the serials crisis began in the 1990s,
			when an increasing number of university library budgets were unable to
			keep up with rising journal prices. Overall, the ratio of journal
			expenditures to total library materials expenditures climbed from 53% in
			1986 to 73% in 2011, with expenditures on other categories of resources,
			such as monographs, falling by 21%.

			<div class="barchart-holder">
				<div id="expend_title_holder">
					<div class="graph-heading">
						Distribution of expenditures in academic materials budgets in the
						United States
					</div>
					<div id="expend_legend">
						<span><span class="dot1"></span> 2010</span>
						<span><span class="dot2"></span> 2013</span>
						<span><span class="dot3"></span> 2018</span>
					</div>
				</div>
				<div class="bars_holder">
					<div class="axis">
						<span>75%</span>
						<span>50%</span>
						<span>25%</span>
						<span>0%</span>
					</div>
					<span class="img-holder">
						<span class="lib_img-container">
							<img
								class="lib_img_1"
								src="/assets/images/about/LibraryExpenditureBars_h.svg"
								alt="US University Library Expenditure Graph"
								loading="lazy"
							/>
							<img
								class="lib_img_2"
								src="/assets/images/about/LibraryExpenditureBars_v.svg"
								alt="US University Library Expenditure Graph"
								loading="lazy"
							/>
						</span>

						<div class="labels">
							<span id="bar1">Digital journals and databases</span>
							<span id="bar2">Print books</span>
							<span id="bar3">E-books</span>
							<span id="bar4">Print journals</span>
							<span id="bar5">All other items</span>
						</div>
					</span>
				</div>
			</div>
			<br />
		</p>
		<h4 style="text-align:center;">The Big Deal</h4>
		<p style="text-align:justify" class="margin-p">
			'The Big Deal' was a significant event in academic publishing history
			where instead of selling individual journals to university libraries,
			publishers grouped them into bundle deals, thereby granting them access to
			entire journal collections in exchange for a fixed yearly subscription
			fee. It was cleverly designed to ensure libraries had either all or none
			of the journals. This made publishers become more profitable with the
			example of Elsevier's operating profits climbing by more than 400% between
			1991 and 2013, and its profit margin never dipping below 30% throughout
			the period.
		</p>
		<h4 style="text-align:center;">Taking a stand</h4>
		<p style="text-align:justify" class="margin-p">
			Following a dispute over access to research publications, Norway and
			Sweden along with individual universities from other countries have
			discontinued their contracts with the likes of Elsevier. This was an
			attempt for a sustainable transition to Open Access (OA). However, the OA
			movement has become a crisis itself in that commercial publishers have
			appeased public scrutiny and provided hybrid journals that are both
			subscription based and open access model that has proven to charge higher
			prices on average than standalone open access journals.
		</p>
		<p style="text-align:justify" class="margin-p">
			The academic society has come up with vast solutions to combat the
			unsustainable rise in prices one of which is the library-press
			partnerships. The library has taken on a new role in scholarly publishing,
			forming partnerships with university presses to encourage universities to
			develop comprehensive publishing plans that draw on the expertise and
			resources of several departments within the institution, including the
			library, press, and academic computing centre. In the more liberating
			space, Sci-Hub pulls paid scientific publications from major publishers
			and makes them freely available to the public. Sci-Hub was founded on the
			notion that granting copyrights to scientific works and placing paywalls
			on them stifles society's advancement.
		</p>
		<p style="text-align:justify" class="margin-p">
			Given this premise, the development of Aaron’s Kit was created to
			complement society’s actions by decentralising scholarly work to ensure
			censorship resistance to fight back and honour Aaron Swartz Guerilla Open
			Access Manifesto “You have a duty to share it with the world”.
		</p>
	</TextSection>
	<TextSection>
		<img
			src="/assets/images/about/OpenAccess.svg"
			alt="Number 3"
			loading="lazy"
			class="center-number"
		/>
		<br />
		<h3 style="text-align:center;">What is Open Access?</h3>

		<p style="text-align:justify" class="margin-p">
			Open Access (OA) is a broad international movement and seeks to grant free
			and immediate online access to academic research outputs such as journal
			articles, books and data. It is in opposition to the traditional
			subscription based publishing model, which allows users to access
			scholarly information by purchasing a subscription (usually via
			libraries).
		</p>

		<p style="text-align:justify" class="margin-p">
			A publication is considered open access when there are no financial,
			legal, or technical restrictions to accessing it. Thus, within the legal
			agreements, anybody may freely read, download, copy, search for, and use a
			publication in any way. Many journals now offer various "open access like"
			models in which they charge researchers a once-off fee to make their
			scholarly output freely accessible.
		</p>
		<p style="text-align:justify" class="margin-p">
			Even though Open Access has become very popular over the past several
			years and is a positive development, it is not without its drawbacks:
		</p>
		<CtaCardSection>
			<p><u><b>Article Processing Charges (APCs)</b></u></p>
			<p>
				Researchers often have to pay substantial costs to journals to make
				their research freely available. APC charges vary, and cost on average
				$1000, where the most prestigious journals charge upwards of $5000.
			</p>
			<p><u><b>Scarse Open Access journals</b></u></p>
			<p>
				The number of Open Access or hybrid journals vary greatly across
				disciplines. Some disciplines have very few and often not enough.
			</p>
			<p><u><b>Predatory publishing</b></u></p>
			<p>
				Predatory journals, a term used for journals of dubious quality, slow
				down the open access movement as their continuous spamming of
				researchers may taint their perception of open access.
			</p>
		</CtaCardSection>
	</TextSection>

	<TextSection>
		<img
			src="/assets/images/about/AaronsKitRole.svg"
			alt="Number four"
			loading="lazy"
			class="center-number"
		/>
		<br />
		<h3 style="text-align:center;">What role will Aaron's Kit play?</h3>

		<p style="text-align:justify" class="margin-p">
			Aaron's Kit strives to become the world’s first and largest repository of
			complete journals behind paywalls that will be available to the public for
			free. Scholarship a.k.a. knowledge, is a public good, and hence the
			content of scholarly journals, is a public good. Public goods are free to
			consume, and therefore, access to scholarly journals should be free as
			well.
		</p>

		<p style="text-align:justify" class="margin-p">
			Aaron’s Kit captures the vision of Aaron Swartz. Our project is your
			project and by joining forces, we can continue Aaron’s legacy — to
			transform the antiquated system of academic publishing into an Open Access
			community.
		</p>

		<div class="center-button">
			<Button href="/get-started" customIcon
				>Get Started<Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment>
			</Button>
		</div>
	</TextSection>
</Layout>

<style>
	.img-container,
	.lib_img-container {
		display: flex;
		margin: 0 auto;
		padding-top: 0px;
	}
	.center-number {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		width: auto;
		height: auto;
	}
	.center-button {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.margin-p {
		margin-right: 2%;
		margin-left: 2%;
	}
	.graph-heading {
		font-size: 1.5rem;
		font-family: var(--theme-font-family-serif);
	}
	.bars_holder {
		display: flex;
		column-gap: 0;
		justify-content: center;
	}
	.img-holder {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.axis {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: end;
	}
	#bar1,
	#bar2,
	#bar3,
	#bar4,
	#bar5 {
		transform-origin: 0 0;
		transform: rotate(330deg);
		max-width: min-content;
	}
	.barchart-holder {
		display: flex;
		margin: auto 2%;
		padding-top: 0px;
		flex-direction: column;
		padding-bottom: 10rem;
		max-width: 900px;
	}
	#fs_big {
		display: block;
	}
	#fs_small {
		display: none;
	}
	.dot1,
	.dot2,
	.dot3 {
		height: 1rem;
		width: 1rem;
		background-color: #193d2a;
		border-radius: 50%;
		display: inline-block;
		margin-bottom: -0.25rem;
	}
	.dot2 {
		background-color: #193d2a;
	}
	.dot3 {
		background-color: #9bbba5;
	}
	#expend_legend {
		display: flex;
		flex-direction: column;
		min-width: 70px;
		max-width: 8rem;
		margin: 0 1rem;
	}
	#expend_title_holder {
		display: flex;
		margin: auto;
		justify-content: center;
	}
	.lib-img_1,
	.lib_img_2 {
		margin: 0 auto;
		padding-top: 0px;
		flex-grow: 1;
	}
	.lib_img_2 {
		display: none;
	}
	.lib-img_1 {
		display: flex;
	}
	.labels {
		display: flex;
		justify-content: center;
		align-self: center;
		text-align: center;
		column-gap: 30%;
		padding-left: 0rem;
		margin: 1.5rem auto auto;
		max-width: 1080px;
	}
	@media screen and (max-width: 900px) {
		#fs_big {
			display: none;
		}
		#fs_small {
			display: block;
		}
	}
	@media screen and (max-width: 768px) {
		.lib_img_1 {
			display: none;
		}
		.lib_img_2 {
			display: flex;
			min-width: 260px;
			width: 90vw;
		}
		.lib_img-container {
			margin: 0;
		}
		.img-holder {
			flex-direction: row-reverse;
			justify-content: flex-end;
			min-height: 75vh;
			height: 100%;
		}
		.labels {
			flex-direction: column;
			align-items: flex-end;
			position: relative;
			margin-left: 0;
			margin-right: 0;
			margin-top: 0;
		}
		.axis {
			padding-top: 1rem;
			font-size: 3.5vw;
			flex-direction: row-reverse;
			min-width: 260px;
			width: 100%;
		}
		.graph-heading {
			font-size: 1.25rem;
		}
		#bar1,
		#bar2,
		#bar3,
		#bar4,
		#bar5 {
			position: absolute;
			transform-origin: 0 0;
			transform: rotate(360deg);
			max-width: min-content;
			text-align: right;
			font-size: 3.5vw;
		}
		#bar1 {
			top: 0.5vw;
		}
		#bar2 {
			top: 35vw;
		}
		#bar3 {
			top: 65vw;
		}
		#bar4 {
			top: 95vw;
		}
		#bar5 {
			top: 120vw;
		}
		.bars_holder {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			width: 70vw;
			margin-left: 16vw;
		}
		.barchart-holder {
			padding-bottom: 0;
		}
	}
	@media screen and (max-width: 414px) {
		#expend_legend {
			margin: 0;
			font-size: 0.75rem;
		}
		#expend_title_holder {
			align-items: center;
		}
		.axis {
			font-size: 0.75rem;
		}
		.graph-heading {
			font-size: 1rem;
		}
		.dot1,
		.dot2,
		.dot3 {
			height: 0.75rem;
			width: 0.75rem;
			margin-bottom: 0rem;
		}
		.axis,
		.img-holder,
		.lib_img_2 {
			min-width: 200px;
			width: 100%;
		}
		#bar1,
		#bar2,
		#bar3,
		#bar4,
		#bar5 {
			font-size: 0.75rem;
		}
	}
</style>
