---
import { Icon } from 'astro-icon';
import {
	Button,
	YouTubeEmbedSection,
	CtaCardSection,
	TextSection,
	ThreeColumnTextSection,
	YouTubeEmbed
} from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
import BigButton from '../components/widgets/BigButton.astro';
import SmallCard from '../components/widgets/small-card.astro';
const seo = {
	title: "Aaron's Kit | Get Started",
	description: 'Learn how to download and use our tool.',
};
---

<Layout {seo}>
	<TextSection>
		<h1 style="text-align:center;">
			You can make a difference in 3 easy steps
		</h1>
		<h3 style="text-align:center;">Academic Libraries spend about 60% of their budgets on research access. We believe that this research should be free.</h3>
	</TextSection>

	<CtaCardSection>
		<div>
			<h3>Do you have JSTOR login credentials?</h3>
			<h4>
				Our command line tool makes it easy for you to contribute research papers. 
			</h4>
			<p>
				You simply specify the research that you want to contribute, and the tool
				will access, download and upload these papers to our database
				automatically. This will grant you, and many other students,
				researchers, and curious readers around the world unlimited free access
				to hundreds of thousands of research articles that would otherwise be
				inaccessible due to expensive paywalls.
			</p>
			<p>Plus, as an added bonus, you can opt in to <a
				href="#rewarded">be rewarded</a> for your contributions!
			</p>
		</div>
		<br>
		<div><p>Don't have JSTOR login credentials?</p></div>
		<Button href="/search" customIcon>
			Find an Article<Fragment slot="icon">
				<Icon name="ic:baseline-chevron-right" />
			</Fragment>
		</Button>
	</CtaCardSection>
	

	<ThreeColumnTextSection>
		<div class="column-slot" slot="column-1-body">
			<h3>Step 1</h3>
			<SmallCard background="var(--theme-surface-2)">
				<h4>Confirm your credentials on JSTOR</h4>
			</SmallCard>
			<div class="card-info">
				<p>Make sure that you have valid JSTOR login credentials.</p>
				<p>
					You can confirm that your institution provides access by searching for
					it on the JSTOR “institution search” page.
				</p>
			</div>
			<div class="button-holder">
				<BigButton href="https://www.jstor.org/institutionSearch?redirectUri=%2F" newTab outlined>
					Confirm Credentials
				</BigButton>
			</div>
		</div>

		<div class="column-slot" slot="column-2-body">
			<h3>Step 2</h3>
			<SmallCard background="var(--theme-surface-2)">
				<h4>Install the necessary dependencies</h4>
			</SmallCard>
			<div class="card-info">
				<p>
					To run the tool, you will need Google Chrome, ffmpeg and ffprobe installed on
					your computer.
				</p>
				<p>
					If you don't have them installed, visit the Google Chrome and ffmpeg
					downloads pages to install before moving on to the next step. 
				</p>
			</div>
			<div class="button-holder">
				<div class="dependencies-buttons">
					<BigButton href="https://www.google.com/chrome/" newTab outlined>
						Download Chrome
					</BigButton>
				</div>
				<div class="dependencies-buttons">
					<BigButton href="https://ffmpeg.org/download.html" newTab outlined>
						Download ffmpeg/ffprobe
					</BigButton>
				</div>
			</div>
		</div>

		<div class="column-slot" slot="column-3-body">
			<h3>Step 3</h3>
			<SmallCard background="var(--theme-surface-2)">
				<h4>Download the executable and get started</h4>
			</SmallCard>
			<div class="card-info">
				<p>
					Visit our GitHub repository and download the Aaron’s Kit Executable.
				</p>
				<p>
					Double click on the executable to open and simply follow the prompts
					that will assist you in finding the articles that you want to donate.
				</p>
			</div>
			<div class="button-holder">
				<BigButton href="https://github.com/AaronsKit/Aarons_Toolkit" newTab outlined>
					Download Executable
				</BigButton>
			</div>
		</div>
	</ThreeColumnTextSection>

	<CtaCardSection>
		<h3><a id="rewarded"></a>You can be rewarded for your contributions!</h3>
		<h4>
			Each week, our smart contract distributes ALGO (cryptocurrency) to everyone who has 
			contributed research papers to the Aaron's Kit database.
		</h4>
		
		<ul class="list-explanation"> 
			<p style="text-align:center;"><u><b>How does this work?</b></u></p>
			<li>
				During <b>step 3</b>, upon launching the executable, you will be given the choice to opt
				in to receive donations.
			</li>
			<li>
				Next, simply follow the promps that will assist you in creating or providing an Algorand 
				account.
			</li>
			<li>
				Finally, wait for ALGO to be distributed into your account. This will happen every Sunday at 00:00 AM. 
			</li>			
		</ul>
		<br>
		<div class="button-holder">
			<Button href="/donate" customIcon>
				Learn more<Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment>
			</Button>
		</div>
	</CtaCardSection>

	<TextSection>
		<h2 style="text-align:center;">Learn how to set up and use our tool</h2>
		<section class="youtube-embed__section">
			<YouTubeEmbed url="https://youtu.be/06mAmDrVAP4" rounded />
		</section>
		<div style="text-align:justify;" class="margin-p">
			<p>
				<b>Video highlights</b> 
			</p>
			<p>
				This tutorial will teach you how to use Aaron's toolkit to upload and download research 
				papers for free!
			</p>
			<p>
				<b>Contents</b>
			</p>
			<p>
				<ul>
					<li class="clip-tag">00:00 - Introduction</li>
					<li class="clip-tag">01:00 - Upload research papers</li>
					<li class="clip-tag">06:18 - Download research papers</li>
				</ul>
			</p>
			<p>
				<b>Useful links</b>				
			</p>
			<p>
				<ul>
					<li class="link-tag"><a href="https://github.com/AaronsKit/Aarons_Toolkit" class="astro-426S6YDN" target="_blank">Download Aaron's Kit</a> to get started</li>
					<li class="link-tag">Watch our setup video and learn how to download and set up Aaron's Kit on Windows or Mac.</li>
					<li class="link-tag"><a href="/donate" class="astro-426S6YDN">Visit our donations page</a> to learn about Algo donations</li>
				</ul>
			</p>
		</div>
	</TextSection>

	<TextSection>
		<h5 style="text-align:center;" class="margin-p">
			*We are in the process of testing our scraping tool and are looking for anyone with JSTOR access to assist. If you would like to help, please sign up <a href ="https://docs.google.com/forms/d/e/1FAIpQLSetzV9tRcIGahJiUHc-DMy6xmNtG0mTs_R7WTrL5mRMDH2eYA/viewform" target="_blank">here</a>.
		</h5>
	</TextSection>

</Layout>

<style>
	.button-holder {
		display: flex;
		flex-grow: 1;
		flex-direction: row;
		column-gap: 10px;
		align-items: flex-end;
		justify-content: space-evenly;
	}
	.card-info {
		min-width: 284px;
		padding-left: 18px;
		padding-right: 18px;
	}
	.margin-p {
		margin-right: 2%;
  		margin-left: 2%;
	}
	.column-slot {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		align-items: center;
		min-width: 300px;
	}
	.list-explanation {
		text-align:left;
	}

	.youtube-embed__section {
		padding: 0 1rem;
		margin: var(--section-margin) auto;
	}
	.clip-tag {
		list-style-type: '🖇️';
		padding-inline-start: 0.5rem;
	}
	.link-tag {
		list-style-type: '🔗';
		padding-inline-start: 0.5rem;
	}
	ul {
		text-align: start;
	}
	@media screen and (max-width: 768px) {
		.list-explanation {
			margin-left: -20px;
		}
		.youtube-embed__section {
			padding: 0;
		}
	}
	@media screen and (max-width: 360px) {
		.button-holder {
			flex-direction: column;
			column-gap: 6px;
		}
		.list-explanation {
			margin-left: -20px;
			margin-right: 0px;
		}
		.dependencies-buttons {
			margin-bottom: 10px;
		}
	}
</style>
