---
import { Icon } from 'astro-icon';
import {
	ThreeColumnTextSection,
	CtaCardSection,
	TextSection,
	Button,
} from '@littlesticks/odyssey-theme-components';

import Layout from '../layouts/Page.astro';

const seo = {
	title: 'Get Started',
	description: 'Learn how to download and use our tool.',
};
---

<Layout {seo}>
	<TextSection>
		<div>
			<h1>You can make a difference in 3 easy steps</h1>
		</div>
	</TextSection>

	<CtaCardSection>
		<div>
			<!-- <h2>The Aaron's Kit Tool</h2> -->
			<h3>Our command line tool makes it easy for you to donate research papers while staying completely anonymous</h3>
			<p>	You simply specify the research that you want to donate, and the tool will access, download and upload these 
				papers to our database automatically. This will grant you, and many other students, researchers, and curious 
				readers around the world unlimited free access to hundreds of thousands of research articles that would 
				otherwise be inaccessible due to expensive paywalls.</p>
		</div>
	</CtaCardSection>

	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<h3>
				Step 1
			</h3>
			<CtaCardSection>
				<h4>Confirm your credentials on JSTOR</h4>
				<!-- <Button href="https://www.jstor.org/institutionSearch?redirectUri=%2F">Confirm Credentials</Button> -->
			</CtaCardSection>
			<p>Make sure that you have valid JSTOR login credentials.</p>
			<p>
				You can confirm that your institution provides access by searching for it on the <a href="https://www.jstor.org/institutionSearch?redirectUri=%2F">JSTOR “institution search”</a> page.
			</p>
		</div>

		<div slot="column-2-body">
			<h3>
				Step 2
			</h3>
			<CtaCardSection>
				<h4>Install the necessary dependencies</h4>
				<!-- <Button href="https://www.google.com/chrome/?brand=YTUH&gclid=Cj0KCQjw1vSZBhDuARIsAKZlijS5X0D4ihngk_K8pr2-tWBq-QZhiw-G50Di8E9_gAzQ1HyT-Z6oO4MaAjpiEALw_wcB&gclsrc=aw.ds">Download Chrome</Button>				 -->
			</CtaCardSection>
			<p>To run the tool, you will need Google Chrome and FFmpeg installed on your computer.</p>
			<p> 
				If you don't have them installed, visit the <a href = "https://www.google.com/chrome/?brand=YTUH&gclid=Cj0KCQjw1vSZBhDuARIsAKZlijS5X0D4ihngk_K8pr2-tWBq-QZhiw-G50Di8E9_gAzQ1HyT-Z6oO4MaAjpiEALw_wcB&gclsrc=aw.ds">Google Chrome</a> and <a href="https://ffmpeg.org/download.html">FFmpeg</a> downloads pages to install before moving on to the next step. 
			</p>
		</div>

		<div slot="column-3-body">
			<h3>
				Step 3
			</h3>
			<CtaCardSection>
			
				<h4>Download the executable and get started</h4>
						
			</CtaCardSection>
			<p>Visit our GitHub repository and download the Aaron’s Kit Executable.</p>
			<p> 
				Double click on the executable to open and simply follow the prompts that will assist you in finding the articles that you want to donate. 
			</p>
			<div>			
				<Button href="https://github.com/FinHubSA/AK-PDF-Scraper" style={"margin:0 auto"}>Download the tool</Button>
			</div>

		</div>
	</ThreeColumnTextSection>
</Layout>

<style>
	.download-button{
		margin:0 auto;
	}
</style>